html {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;	
}

div#home-button a {
	text-decoration: none;
	padding: 10px;
	background-color: #85c4ff;
	color: white;
	margin: 10px;
	border-radius: 20px;
}

div#home-button a:hover {
	background-color: #3399ff;
}

div#show-post table {
	margin: 0 auto;
	background-color: #85c4ff;
	border-radius: 15px;
	padding: 10px;
	color: white;
	width: 60%;

	position: relative;
	top: 50px;
}

div#show-post table tr {
	margin: 10px 0 10px 0;
}

div#show-post table th, div#show-table table td {
	padding: 10px;
}

div#new-post form {
	margin: 0 auto;
	background-color: #85c4ff;
	padding: 20px;
	width: 20%;
	border-radius: 15px;
	color: white;

	position: relative;
	top: 50px;
}

div#new-post form input.text, div#new-post form textarea {
	text-align: left;
	width: 90%;
	border-radius: 5px;
}
